{% extends "base.html" %}
{% block content %} 

<div class="row">
<ul class="nav nav-pills">
{% for desc, uri, active in topsubjectnames %}
{% if active %}
<li class="active">
{% else %}
<li>
{% endif %}
<a href="{{uri}}">{{desc}}</a></li>
{% endfor %}
</ul>
</div>

<div class="row">
<div class="col-md-3 col-md-offset-3"><strong>{{price}}</strong></div>
</div>


<div class="row">

<div class="table-responsive">
  <table class="table"><tr>
  <td>
    <ul>{{ treelist|safe }}  </ul>
  </td>
  <td>
    <p>
  {% for page_number in showimages.paginator.page_range %}
    {% ifequal page_number  showimages.number %}
      第{{ page_number }}页
    {% else %}
      <strong><a href="?page={{ page_number }}">第{{ page_number }}页</a></<strong>
    {% endifequal %}
  {% endfor %}
</p>
    
    {% for i,sitepath,bigimgsrc in showimages %} 
<div>
<a href="{{bigimgsrc}}">
<img src="{{i}}" class="img-responsive" alt="Responsive image" /> </a>
<captain>{{sitepath}}</captain>
</div>
{% endfor %}
    </td></tr>
  </table>
</div>
</div>



{% endblock %}  