<!doctype html>
<html lang="en">
<style type="text/css">
<!--
head {
	sans-serif;
	color: yellow;
}
table.stocklist {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 14pt;
	color: green;
	width: 300px;
	position: relative;
  	#left: 440px;
  	#top: 20px;
}
-->
</style>
<head>
<meta charset="utf-8" />
<title>相册</title>

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk
/html5.js"></script>
        <![endif]-->
</head>

<body>

<table class="stocklist" width="220" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="center">
请注意：图片的上方有视频时长和分辨率。购买视频时请把截图作为附件发到邮箱：lordofcarry@foxmail.com中
</td>
</tr>
<tr>
<td align="center">
请访问<a href="http://115.28.146.228:9000/">http://115.28.146.228:9000/</a>,原地址http://115.28.146.228/将不再更新视频截图,谢谢
</td>
</tr>

<tr>
<td align="center">
<table>
<tr>

{% for uri,desc, c, fs, active in typelist %}
<td>
<p style="color:{{c}};font-size:{{fs}}%"><a href="{{uri}}">{{desc}}</a></p>
</td>
{% endfor %}
<td>
<a href="/novel/main">小说</a>
</td>
</tr>
</table>

</td>
</tr>

<tr>
<td>

<table class="stocklist" width="250" border="1" cellspacing="1" cellpadding="2">
<caption>
</caption>
<tr>
<td style="width: 259px; vertical-align:top">


<table class="stocklist" width="200" border="1" cellspacing="1" cellpadding="2">
<caption>分类[{{cateCount}}]</caption>
{% for folder,l in topfolders %}
<tr>
<td align="left"><a href="{{l}}">{{folder}}</a></td>
{% endfor %}
</tr>
</table>


</td>
<td align="left">

<table class="stocklist" width="200" border="1" cellspacing="1" cellpadding="2">
<caption>{{category}}</caption>
{% for f,l,lineflag in topfiles %}
{% if lineflag %}
<tr>
{% endif %}
<td>
<a href="{{l}}"><img src="{{f}}"/></a>
</td>

{% if not lineflag %}
</tr>
{% endif %}

{% endfor %}

</table>


</td>
</tr>
</table>

</td>
</tr>
</table>


</body>
</html>