<!doctype html>
<html lang="en">
<style type="text/css">
<!--
head {
	sans-serif;
	color: yellow;
}
table.namelist {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 14pt;
	color: green;
	width: 600px;
	position: relative;
  	#left: 440px;
  	#top: 20px;
}
table.novel {
	font-family : Verdana, Arial, sans-serif ;
	font-size : 16pt;
	color: black;
	width: 1200px;
	position: relative;
  	#left: 340px;
  	#top: 20px;
}
-->
</style>
<head>
<meta charset="utf-8" />
<title>相册</title>

        <!--[if IE]>
        <script src="http://html5shiv.googlecode.com/svn/trunk
/html5.js"></script>
        <![endif]-->
</head>

<body leftmargin=0 topmargin=0 oncontextmenu='return false' ondragstart='return false' onselectstart ='return false' onselect='document.selection.empty()' oncopy='document.selection.empty()' onbeforecopy='return false' onmouseup='document.selection.empty()'>

<table class="namelist" border="0" cellspacing="0" cellpadding="0">
<tr>
<td align="center">
如有想在这里分享给更多人的小说也请发到邮箱：lordofcarry@foxmail.com <a href="/">回相册首页</a>
</td>
</tr>
<tr><td align="center"><audio src="/music/song.mp3" controls="controls" autoplay="autoplay">
你的浏览器不支持html5音频插件
</audio></td></tr>

<tr>
<td>

<table class="novel" border="1" cellspacing="1" cellpadding="2">
<caption></caption>
<tr>
<td style="width: 359px; vertical-align:top">


<table border="1" cellspacing="1" cellpadding="2">
<caption>小说名字[{{cateCount}}]</caption>
{% for n in names %}
<tr>
<td align="left"><a href="/novel/{{n}}">{{n}}</a></td>
{% endfor %}
</tr>
</table>


</td>
<td style="vertical-align:top">
<pre style="word-wrap: break-word; white-space: pre-wrap; white-space: -moz-pre-wrap">{{content}}</pre>

</td>
</tr>
</table>

</td>
</tr>
</table>


</body>
</html>