{% extends "mybase.html" %}

{% block title %}{{ videoname }} | {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block sitecontent %} 
<div class="row">
<strong>站长每周更新一次，在线观看视频</strong>
</div>
<div class="row">
{{ desc }}
</div>
<div class="row">
<div id="playercontainer"></div> 
<script type="text/javascript" src="http://cybertran.baidu.com/cloud/media/assets/cyberplayer/1.0/cyberplayer.min.js"></script> 
<script type="text/javascript"> var player = cyberplayer("playercontainer").setup({ 
	width : 680, 
	height : 400, 
	backcolor : "#FFFFFF", 
	stretching : "uniform", 
	file : "{{ videofileurl }}", 
	image : "", 
	autoStart : true, 
	repeat : "always", 
	volume : 100, 
	controlbar : "over", 
	ak:"GCtNGeuvrjAlHHihVlBI0jrj", 
	sk:"NqF20tqGy2A7aGqY8BW4H34oXTyLt2Ky" }); 

</script>
</div>
{% endblock %}
	
