{% extends "mybase.html" %}

{% block title %}{{ videoname }} | {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block sitecontent %} 

<div class="row">
<small>video name(请复制下面这行文字用以购买):</<small>>
</div>
<div class="row">
<strong>{{picinfo}}</strong>
</div>
<div class="row">
<img src="{{bigimgsrc}}" class="img-responsive" alt="{{videoname}}" />
</div>

<div class="row">
	<!-- Duoshuo Comment BEGIN -->
	<div class="ds-thread"></div>
<script type="text/javascript">
var duoshuoQuery = {short_name:"videoshare"};
	(function() {
		var ds = document.createElement('script');
		ds.type = 'text/javascript';ds.async = true;
		ds.src = 'http://static.duoshuo.com/embed.js';
		ds.charset = 'UTF-8';
		(document.getElementsByTagName('head')[0] 
		|| document.getElementsByTagName('body')[0]).appendChild(ds);
	})();
	</script>
<!-- Duoshuo Comment END -->
</div>

{% endblock %}  