<div class="widget">
    <div class="panel panel-default">
	    <div class="panel-heading"><h3 class="panel-title">热评视频</h3></div>
	    <div class="panel-body">
		    <div class="textwidget">
				<ul  class="ds-top-threads list-unstyled" data-range="weekly" data-num-items="10"></ul>
				<!--多说js加载开始，一个页面只需要加载一次 -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"videoshare"};
				(function() {
				    var ds = document.createElement('script');
				    ds.type = 'text/javascript';ds.async = true;
				    ds.src = 'http://static.duoshuo.com/embed.js';
				    ds.charset = 'UTF-8';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
				<!--多说js加载结束，一个页面只需要加载一次 -->
		    </div>
		</div>
    </div>
    
    <div class="panel panel-default">
	    <div class="panel-heading"><h3 class="panel-title">最新评论</h3></div>
	    <div class="panel-body">
		    <div class="textwidget">
				<ul class="ds-recent-comments list-unstyled" data-num-items="10" data-show-avatars="1" data-show-time="1" data-show-admin="1" data-excerpt-length="70"></ul>
				<!--多说js加载开始，一个页面只需要加载一次 -->
				<script type="text/javascript">
				var duoshuoQuery = {short_name:"videoshare"};
				(function() {
				    var ds = document.createElement('script');
				    ds.type = 'text/javascript';ds.async = true;
				    ds.src = 'http://static.duoshuo.com/embed.js';
				    ds.charset = 'UTF-8';
				    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
				})();
				</script>
				<!--多说js加载结束，一个页面只需要加载一次 -->
		    </div>
		</div>
    </div>
</div>
