{% extends "mybase.html" %}

{% block title %}{{ videocategory }} {% endblock %}
{% block keywords %}{{ keywords }}{% endblock %}

{% block sitecontent %} 
{% load i18n %}
<div class="row">
	<ul class="nav nav-pills">
		{% for desc, uri, active in topsubjectnames %}
		{% if active %}
		<li class="active">
		{% else %}
		<li>
		{% endif %}
		<a href="{{uri}}">{{desc}}</a></li>
		{% endfor %}
	</ul>
</div>

<div class="row">
{% blocktrans %}本站用来交换分享，如果有同好需要与我交换，请把站点上没有的视频截图发我，
站长喜欢的视频必须是昏迷的、有横抱的（我不需要高清的、无横抱昏迷的，硬盘空间有限，推荐压缩RMVB后给我）。
本站视频都经过RMVB格式压缩，喜欢原版高清的可以绕行。
交换时请先把你有的视频在搜索栏里按名字搜索，搜索到后对比是否同一视频。不一样时，再把截图发我{% endblocktrans %}。
		    <form class="navbar-form navbar-right" role="search" method="get" action="/">
		      <div class="form-group">
		        <input type="text" class="form-control input-medium search-query" placeholder="Search"" value="" name="s" id="s">
		      </div>
		      <button type="submit" class="btn btn-default">{% trans "搜索" %}</button>
		    </form>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2"><strong>{{price}}</strong></div>
</div>


<div class="row">
	<div class="table-responsive">
	<table class="table">
	<tr>
		<td width="25%"><ul>{{ treelist|safe }}  </ul></td>
		
		<td width="55%">
				<div class="row"><strong>{{subname}}</strong><small>{{subtypedesc}}</<small></div>
				<div class="row">
				    <div class="pagination">
						<p>
						  {% for page_number in paginator.page_range %}
						    {% ifequal page_number  page_obj.number %}
						     {% trans "页" %}{{ page_number }}
						    {% else %}
						      <strong><a href="?page={{ page_number }}">{% trans "页" %}{{ page_number }}</a></<strong>
						    {% endifequal %}
						  {% endfor %}
						</p>
				    </div>
				
					{% for i,sitepath,bigimgsrc,picname in object_list %} 
					<div>
						<a href="{{bigimgsrc}}">
						<img src="{{i}}" class="img-responsive" alt="{{picname}}" /> </a>
						<captain>{{sitepath}}</captain><div style="float:right;"><span class="glyphicon glyphicon-shopping-cart"/></div>
					</div>
					{% endfor %}
				</div>
		</td>
		
		<td width="20%">
			{% include "sidebar.html" %}
		</td>
	</tr>
	</table></div>
</div>

{% endblock %}  